
.card-header:not(.content-center) > .c-icon:first-child {
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: top;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1.2rem;
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}
.c-select {
  display: block;
  width: 100%; 
  height: calc(1.5em + 0.75rem + 2px);
  /* padding: 0.375rem 0.75rem; */
  /* font-size: 0.875rem; */
  /* font-weight: 400; */
  /* line-height: 1.5; */
  /* background-clip: padding-box; */
  /* border: 1px solid; */
  color: #768192;
  background-color: #fff;
  border-color: #d8dbe0;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
